*{
    margin: 0;
    padding: 0;
    font-family: century;
    list-style: none;
}
body {
    background-image: #f2f2f2;
}
.head {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(199714008_l_normal_none.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.logo a{
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.7);
}
.logo span{
    color: red;
    font-weight: bold;
    font-size: 2rem;
}
header nav {
    margin-left: 300px;
}
header nav ul li{
    display: inline-block;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.xx {
    text-decoration: none;
    font-size: 500;
    color: red;
    text-transform: uppercase;
}
header nav ul li a {
    text-decoration: none;
    font-size: 500;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
header nav ul li a:hover {
    color: red;
}
.fa-bars {
    display: none;
    color: #fff;
    padding-top: 10px;
    padding-right: 30px;
    font-size: larger;
}
.fa-bars:hover {
    color: red;
    cursor: pointer;
}
.fa-house {
    color: #fff;
    padding-top: 10px;
    padding-right: 30px;
    font-size: larger;
}
.fa-house:hover {
    color: red;
    cursor: pointer;
}
.after {
    position: absolute;
    top: 35%;
    right: 10%;
}
.after h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: whitesmoke;
    text-decoration: underline;
}
.after p {
    font-weight: lighter;
    font-weight: 100;
    margin-bottom: 20px;
    color: white;
}
.after a {
    padding: 5px 50px 10px 50px;
    text-decoration: none;
    border-radius: 20px;
    outline: none;
    border : 0;
    background-color: red;
    font-size: medium;
    color: #fff;
    font-weight: bold;
}
.after a:hover {
    background-color: white;
    color: red;
}
.presentation h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(195, 73, 73);
    margin-top: 20px;
    text-transform: capitalize;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}
.presentation p {
    text-align: center;
    font-weight: bold;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
    padding: 20px;
}
.d-md-block {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: start ;
    bottom: 0%;
    width: 100%;
    left:0%;
    padding-left: 20px;
}
.d-md-block h5 {
    margin-bottom: 0%;
    text-decoration: underline;
    color: red;
    text-transform: capitalize;
    font-weight: bold;
}
.d-md-block p {
    margin-bottom: 0%;
}
.commande {
    height: 100px;
    background-color: black;
    margin: 0 50px 0 50px;
    text-align: center;
}
.commande p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
.commande a {
    padding: 5px 50px 10px 50px;
    text-decoration: none;
    border-radius: 20px;
    outline: none;
    border : 0;
    background-color: red;
    font-size: medium;
    color: #fff;
    font-weight: bold;
}
.commande a:hover {
    background-color: white;
    color: red;
}
.info {
    display: flex;
    margin-top: 50px;

}
.info img{
    margin:0 50px 10px 50px;
}
.info div {
    margin:90px 50px 10px 30px;
    text-align: justify;
}
.info div h4 {
    font-weight: bold;
    color: rgb(195, 73, 73);
}
.info div a {
    color: rgb(195, 73, 73);
    text-decoration: none;
    text-transform: capitalize;
}
.info div a:hover {
    text-decoration: underline;
}
.commande1 {
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0 20px 0;
}
.commande1 p {
    font-weight: bold;
}
.commande1 a {
    padding: 5px 50px 10px 50px;
    text-decoration: none;
    border-radius: 20px;
    outline: none;
    border : 0;
    background-color: red;
    font-size: medium;
    color: #fff;
    font-weight: bold;
}
.commande1 a:hover {
    background-color: white;
    color: red;
}
.info1 {
    display: flex;
    margin-top: 50px;
}
.info1 img{
    margin:0 50px 10px 50px;
}
.info1 div {
    margin:30px 50px 10px 30px;
    text-align: justify;
}
.info1 div h4 {
    font-weight: bold;
    color: rgb(195, 73, 73);

}
.info1 div a {
    color: rgb(195, 73, 73);
    text-decoration: none;
    text-transform: capitalize;
}
.info1 div a:hover {
    text-decoration: underline;
}
footer {
    margin-top: 30px;
}
.pre {
    background-color: rgb(33, 33, 33);
    text-align: center;
    padding: 20px;
}
.icone {
    padding: 20px;
    margin-right: 20px;
    margin-left: 60px;
}
.icone i {
    margin: 0 10px 0 10px;
}
.fa-facebook, .fa-instagram, .fa-twitter, .fa-google, .fa-youtube {
    background-color: aliceblue;
    color: black;
    font-size: large;
    padding: 8px;
    border-radius: 50%;
}
.lien nav ul li{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}
.lien nav ul li a {
    color: white;
    text-decoration: none;
}
.lien nav ul li a:hover {
    color: red;
}
.copyright {
    display: flex;
    background-color: black;
    padding-left: 39%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f2f2f2;
}
.copyright i {
    margin-right: 5px;
    margin-top: 5px;
}
#carouselExampleInterval {
    padding: 0 50px 0 50px;
}
.w-100 {
    opacity: 0.7;
}
#za {
    border: 1px solid black;
}
#zb {
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    .head {
        height: 90vh;
    }
    header {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }
    header nav {
        display: none;
    }

    .after {
        position: absolute;
        top: 45%;
        right: 5%;
        margin-left: 10px;
    }
    .fa-bars {
        display: block;
        position: absolute;
        right: 2%;
        font-size: 30px;
        padding-top: 40px;
    }
    .fa-house {
        display: none;
    }
    .info , .info1 {
        display: flex;
        flex-direction: column;
    }
    .info img, .info1 img {
        margin-left: 20px;
    }
    .copyright{
        text-align: center;
    }

}