*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    width: 100%;
    height: 100vh;

}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(199714008_l_normal_none.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);

}
.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.left{
    height: 100%;
    background: url(189077705_l_normal_none.jpg) no-repeat center;
    background-size: cover;
}
.right{
    padding: 25px 40px;
}
h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #6B5586;

}
.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.field:focus{
    background-color: azure;
    border: 2px solid rgba(30, 85, 250, 0.47);
}
.area{
    min-height: 150px;
}
.btn{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 3s;

}
.btn:hover{
    background: rgba(17, 107, 143, 0.877);
}
p{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #fff ;
}
img{
    width: 0;
    height: 0;
}